In [5]:
for (x,y) in [(5,1),(6,2),(7,3),(8,4)]:
  print(x)

5
6
7
8

In [8]:
for x in range(5):
  print(x)

0
1
2
3
4

In [11]:
mylist=["apple","banana","orange"]
for i in range(len(mylist)):
  print(i,mylist[i])

0 apple
1 banana
2 orange

In [12]:
for (i,item) in enumerate(mylist):
  print(i, item)

0 apple
1 banana
2 orange